body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
}

li {
  margin: 4px;
}

hr {
  border: 5px solid black;
  margin-bottom: 25px;
  margin-top: 25px;
}

@media (min-width: 1000px) {
  body {
    background-color: #557a95;
  }

  .cv-container {
    width: 60%;
    justify-content: center;
    margin: auto;
    background-color: whitesmoke;
    padding: 2%;
  }
}

.contact {
  font-size: small;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

@media (min-width: 1500px) {
  .contact {
    display: flex;
    width: 50%;
  }
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 35%;
}

@media (min-width: 820px) {
  .work-experience {
    display: flex;
    justify-content: space-between;
  }

  .employer-1,
  .employer-2 {
    width: 48%;
  }

  .employer {
    text-align: left;
  }

  .employment-details {
    display: flex;
  }

  .role {
    font-weight: 700;
  }

  .employer-details-2 {
    margin-left: 2em;
  }

  .employer-details-3 {
    align-self: flex-end;
    margin-left: auto;
  }
}

.education {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.education-1,
.education-2,
.education-3 {
  text-align: left;
}
